@model portal_job_FN.Models.ApplicationUser
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Company.cshtml";
}

<h1>Cập nhật thông tin Profile </h1>
<hr />


<div class="container-fluid  bg-white mt-5 mb-5">
    <div class="row">
        <form asp-action="UpdateProfile" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 style="font-family:'Times New Roman'" class="text-right">Thông tin nhà tuyển dụng</h3>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label asp-for="company_name" style="font-family:'Times New Roman';font-size:20px"
                                   class="control-label">Tên công ty</label>
                            <input asp-for="company_name" style="font-family:'Times New Roman';font-size:18px" class="form-control" />
                            <span asp-validation-for="company_name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="contact_no" style="font-family:'Times New Roman';font-size:20px" class="control-label">
                                Số
                                điện thoại công ty
                            </label>
                            <input asp-for="contact_no" style="font-family:'Times New Roman';font-size:18px" class="form-control" />
                            <span asp-validation-for="contact_no" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label asp-for="website" style="font-family:'Times New Roman';font-size:20px"
                                   class="control-label">Website</label>
                            <input asp-for="website" style="font-family:'Times New Roman';font-size:18px" class="form-control" />
                            <span asp-validation-for="website" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Email" style="font-family:'Times New Roman';font-size:20px" class="control-label">
                                Email
                            </label>
                            <input asp-for="Email" style="font-family:'Times New Roman';font-size:18px" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label asp-for="fullname" style="font-family:'Times New Roman';font-size:20px" class="control-label">
                                Tên
                                cá nhân
                            </label>
                            <input asp-for="fullname" style="font-family:'Times New Roman';font-size:18px" class="form-control" />
                            <span asp-validation-for="fullname" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="mobile_no" style="font-family:'Times New Roman';font-size:20px" class="control-label">
                                Số
                                điện thoại cá nhân
                            </label>
                            <input asp-for="mobile_no" style="font-family:'Times New Roman';font-size:18px" class="form-control" />
                            <span asp-validation-for="mobile_no" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="position_title" style="font-family:'Times New Roman';font-size:20px"
                                   class="control-label">Vị trí công tác</label>
                            <select asp-for="position_title" style="font-family:'Times New Roman';font-size:18px"
                                    class="form-control">
                                <option value="">Chọn vị trí công tác</option>
                                <option value="Nhân viên">Nhân viên</option>
                                <option value="Quản lý">Quản lý</option>
                                <option value="Trưởng phòng">Trưởng phòng</option>
                                <option value="Giám đốc">Giám đốc</option>
                            </select>
                            <span asp-validation-for="position_title" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label asp-for="address" style="font-family:'Times New Roman';font-size:20px">Địa điểm công ty</label>
                            <input asp-for="address" style="font-family:'Times New Roman';font-size:18px" class="form-control" />
                            <span asp-validation-for="address" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="introduce_company" style="font-family:'Times New Roman';font-size:20px"
                                   class="control-label">Giới thiệu về công ty</label>
                            <textarea asp-for="introduce_company" class="form-control"
                                      style="font-family:'Times New Roman';height: 200px;font-size:18px"></textarea>
                            <span asp-validation-for="introduce_company" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.image_url">Logo công ty</label>
                            <input type="file" asp-for="@Model.image_url" class="form-control" id="imageInput" accept="image/*" name="image_url" />
                            <img src="@Model.image_url" alt="Logo công ty" style="max-width:200px;" id="previewImage" />
                            <span asp-validation-for="@Model.image_url" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>
</div>
</div>
</div>

<div>
    <a class="btn btn-primary" href="/Company/Profile/Index/">Trở về</a>
</div>


@* 
<script>
    document.querySelectorAll('input[type="file"]').forEach(input => {
        input.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.getElementById("previewImage")
                    img.src = e.target.result
                };
                reader.readAsDataURL(file);
            }
        });
    });
</script>
 *@

